{% extends 'layout.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}


    <a class="btn btn-default btn-block btn-lg" href="{{ path('doc_manager_document_add') }}">
        <i class="fa fa-upload"></i> Ajouter un document
    </a>
    <div>
        {% for document in documents %}
            <p><a href="{{ path('doc_manager_document_view', {'id':document.id}) }}">{{ document.name }}</a></p>
        {% else %}
              <i class="fa fa-thumbs-o-up fa-5x"></i>
        {% endfor %}
    </div>

{% endblock %}