{% extends 'layout.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

    <p>Bienvenue à l'accueil</p>
    <a class="btn btn-default" href="{{ path('doc_manager_document_add') }}">Ajouter un document</a>
    {% for document in documents %}
        <p><a href="{{ path('doc_manager_document_view', {'id':document.id}) }}">{{ document.name }}</a></p>
    {% else %}
        <p>Pas encore de Documents</p>
    {% endfor %}
{% endblock %}